body {
}

.ClearBoth{
    clear:both;
}
.FloatRight{
    float:right;
}
.FloatLeft{
    float:left;
}

#topMenu
{
    background-color:#eee;
    padding:10px;
    border-bottom:dashed 1px #333;
}

.Above12 {
    margin-top:12px;
}
.Below12 {
    margin-bottom:12px;
}

.ObjectPath, .ObjectValue{
    font-size:0.8em;
}
.ObjectPath
{
    font-weight:bold;
}
.ObjectValue 
{
    margin-bottom:6px;
}

.PlacingListItem {
    padding-left:6px;
    margin-bottom:2px;
}

/* setupCoverPage in SlipcaseCell.swift */

/*
static var statusGray : UIColor {
        return Funcs.makeColour(32, 32, 32)
    }
    static var statusBrown : UIColor {
        return Funcs.makeColour(88, 61, 5)
    }
    static var statusDullGold: UIColor {
        return Funcs.makeColour(133, 119, 44)
    }
    static var statusGrayBrown : UIColor {
        return Funcs.makeColour(128, 107, 113)
    }
    static var statusTeal : UIColor {
        return Funcs.makeColour(57, 92, 100)
    }
    static var statusRed : UIColor {
        return Funcs.makeColour(166, 35, 28)
    }
    static var bcGray : UIColor {
        return Funcs.makeColour(154, 154, 154)
    }
    static var bcBrown : UIColor {
        return Funcs.makeColour(135, 88, 46)
    }
    static var bcDullGold : UIColor {
        return Funcs.makeColour(133, 119, 44)
    }
    static var bcTeal : UIColor {
        return Funcs.makeColour(57, 92, 100)
    }
    static var bcOrange : UIColor {
        return Funcs.makeColour(246, 153, 52)
    }
    static var bcGrayBrown : UIColor {
        return Funcs.makeColour(128, 107, 113)
    }
*/


.StatusUnderwriterQuotation {
	background-color:blue;
}

.StatusFirmOrder {
	border-left: solid 6px #a6231c;
}

.StatusSigned {
	border-left: solid 6px #395c64;
}

.StatusQuotationInTransit {
	border-left: solid 6px #9a9a9a;
}

.StatusQuotationReceived {
	border-left: solid 6px #806b71;
}

.Statusundefined {
    border-left: solid 6px white;
}
.StatusNotFinalised{
    border-left: solid 6px #87582e;
}
.StatusQuotationRequest{
    border-left: solid 6px #85772c;
}

.MyComment, .YourComment
{
    margin-top:6px;
    width:80%;
}

.MyCommentInner, .YourCommentInner {
    border-radius: 6px;
    padding: 10px;
}
.MyComment
{
    margin-left:100px;
}

.MyCommentInner{
    background-color:rgb(14,122,254);
    float:right;
    color:white;
}

.YourCommentInner{
    background-color:#ccc;
    float:left;
    color:black;
}

