body {
}

.ClearBoth{
    clear:both;
}
.FloatRight{
    float:right;
}
.FloatLeft{
    float:left;
}

#topMenu
{
    background-color:#eee;
    padding:10px;
    border-bottom:dashed 1px #333;
}

.Above12 {
    margin-top:12px;
}
.Below12 {
    margin-bottom:12px;
}

.ObjectPath, .ObjectValue{
    font-size:0.8em;
}
.ObjectPath
{
    font-weight:bold;
}
.ObjectValue 
{
    margin-bottom:6px;
}



